body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #5D2906;
}

.btn {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}
.coffeeBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
}

.coffee {
    background-color: #501E03;
    height: 20px;
    border-radius: 50%;
    z-index: 99;
    position: relative;
    margin: 0 auto -28px;
    width: 233px;
}

.lid {
    background-color: #fff;
    height: 20px;
    border-radius: 50%;
    border: 8px solid #ddd;
    z-index: 9;
    position: relative;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 51%);
}

.cup {
    margin: -18px auto 0;
    background-color: #fff;
    height: 150px;
    width: 100%;
    max-width: 240px;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%; 
    clip-path: polygon(50% 250%, 0 0, 100% 0);
}

.cup-handle {
    position: absolute;
    right: -20px;
    top: 40px;
    width: 40px;
    height: 55px;
    border: 20px solid #fff;
    border-left: none;
    border-radius: 0 90% 90% 40%;
    transform: rotate(18deg);
  }

.logo {
    max-width: 100px;
    position: absolute;
    top: 25%;
    left: 28%;
}

.bottom {
    background-color: #fff;
    height: 20px;
    border-radius: 50%;
    z-index: 9;
    position: relative;
    width: 250px;
    margin: -10px auto 0;
}

.vapour {
    position: relative;
    display: flex;
    z-index: 1;
    padding: 0 20px;
    justify-content: center;
}

.vapour span {
    position: relative;
    bottom: 50px;
    display: block;
    margin: 0 2px 50px;
    min-width: 8px;
    height: 120px;
    background: #fff;
    border-radius: 50%;
    animation: animate 5s linear infinite;
    opacity: 0;
    filter: blur(10px);
    animation-delay: calc(var(--v) * -0.5s);
}

@keyframes animate {
    0% {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    50% {
        transform: translateY(-150px) scaleX(5);
    }
    95% {
        opacity: 0;
    }
    100% {
        transform: translateY(-300px) scaleX(10);
    }
}